/*BEGIN Xbox One Controller Styling*/
.controller.xbox {
  background: url(xbox-assets/base.svg);
  height: 630px;
  width: 750px;
  /*    margin-left: -375px;
        margin-top: -285px;*/
}

.xbox.white {
  background: url(Final/base-white_2.png);
}

.xbox .triggers {
  width: 446px;
  height: 121px;
  position: absolute;
  left: 152px;
}

.xbox .trigger {
  width: 88px;
  height: 121px;
  background: url(Final/trigger_green.png);
  opacity: 0;
}

/*END Xbox One Controller Styling*/
